<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'Shop/bootstrap.html' %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include 'Shop/navbar.html' %}
    <div class="vh-75 d-flex justify-content-center align-items-center">
        <h2 class="font text-align-center">
            Nie istnieje użytkownik z podanym adresem email!
            <br />
            <i class="bi bi-envelope-x-fill"></i>
        </h2>
    </div>
    {% include 'Shop/footer.html' %}
    {% include 'Shop/javascripts.html' %}
</body>
</html>